<% if(typeof errors != 'undefined') { %>
    <% errors.forEach(function(error){ %> 
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <%= error.msg %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
    <% }); %>
<% } %> 


<% if(sucessAlert != ''){ %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= sucessAlert %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% } %>

<% if(errorAlert != ''){ %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <%= errorAlert %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% } %>

<% if(error != ''){ %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <%= error %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% } %>