
<h1 class="mt-4">Dashboard - Admin</h1>
<p class="lead mb-3">Welcome <%= username %></p>
<a href="/leiloes/register" class=" btn btn-primary">Eliminar utilizadores</a>
<a href="/leiloes/register" class=" btn btn-primary">Editar utilizadores</a>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<p></p>
<p class="lead mb-2">Número de leiloes terminados: </p>
<p class="lead mb-2">Número de leiloes ativos: </p>
<p class="lead mb-2">Montante adquirido através da sua percentagem dos leiloes (5%): </p>
<p class="lead mb-2">Montante total gasto na plataforma eletrónica: </p>
<p class="lead mb-2">Utilizador com mais produtos: </p>
