<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
          <i class="fas fa-user-plus"></i> Registo
        </h1>
        <% include ./partials/messages %>   
        <form action="/utilizadores/register" method="POST">
          <div class="form-group">
            <label for="nome">Nome</label>
            <input
              type="nome"
              id="nome"
              name="nome"
              class="form-control"
              placeholder="Introduza o seu nome"
              value="<%= typeof nome != 'undefined' ? nome : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Introduza a password"
              value="<%= typeof password != 'undefined' ? password : '' %>"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            Registar
          </button>
        </form>
        <p class="lead mt-4">Já tem conta? <a href="/utilizadores/login">Login</a></p>
      </div>
    </div>
  </div>