<h1 class="mt-4">Dashboard - Funcionário</h1>
<p class="lead mb-3">Welcome <%= username %></p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<p class="lead mb-3">Todos os leilões</p>